---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Nav from '../components/Nav.astro';
import Form from '../components/Form.astro';
---
<Layout title="Welcome to Astro.">
  <main>
    <Nav/>

    <section class="hero">
      <h1>ФЛАМЕНКО для начинающих</h1>
      <h1>Пробный урок 300 рублей</h1>
      <p>Школа танца ParaBailar: первая школа фламенко за Уралом, где есть свой театр!</p>
      <p>Занятия в центре Новосибирска.
        Записывайтесь по телефону <a href="tel:+79039375513">+7 (903) 937-55-13</a></p>

      <Form/>
    </section>

    <section>
      <h1>Что такое фламенко и зачем его танцевать?</h1>
      <p>Фламенко – это не только танец, это страсть, яркие эмоции и творчество. Творчество, которое полно описывает любовь, одиночество, боль, радость и счастье... Когда для выражения этих чувств не хватает слов, на помощь приходит фламенко.</p>
      <p>За свою многовековую историю фламенко впитало в себя элементы разных танцевальных направлений:</p>

      <ul>
        <li>Классика и контемпорари</li>
        <li>Латинские танцы</li>
        <li>Восточные танцы</li>
        <li>Бальные танцы</li>
      </ul>
    </section>

    <section>
      <ul>
        <img src="/assets/astro.png" alt="">
      </ul>
    </section>

    <section id="teachers">
      <header>
        <h2>Знакомьтесь c преподавателями</h2>
        <p>Наши педагоги помогут разобрать и отработать множество технических элементов, использовать их для импровизации в танце, научат слышать музыку и ритм.</p>

        <ul>
          <li>
            <Card href="/about" title="Екатерина Опарышева" body="Один из сильнейших российских преподавателей фламенко, хореограф-постановщик для солистов и коллективов фламенко от Калининграда до Южно-Сахалинска. Основатель школы «Barrio Flamenco» в г.Москва. Участница и создатель международного проекта «UNO», (хореография Ursula López)." />
          </li>
          <li>
            <Card href="/about" title="Дарья Барышева" body="Танцовщица спектакля 'DINAMICA'. Постановщик и сценарист спектаклей 'DeNada' и 'Люди из Зазеркалья'. Ежегодно стажируется в школах фламенко Севильи, Гранады и Мадрида. Ученица именитых танцовщиков фламенко."></Card>
          </li>
          <li>
            <Card href="/about" title="Екатерина Егорова" body="Танцовщица спектаклей 'DeNada', 'Люди из Зазеркалья'. Ведущая проекта 'Открытая сцена фламенко'. Обучалась танцу фламенко и основам преподавания у Juan Diego Fernandez."></Card>
          </li>
        </ul>
      </header>
    </section>

    <section id="about">
      <header>
        <h2>Вам понравится в ParaBailar</h2>
        <p>Школа расположена в самом центре Новосибирска.
          Здесь для вас светлые и просторные залы, удобные раздевалки и отзывчивые администраторы!</p>
      </header>

      <!-- TODO: carousel -->
    </section>

    <section id="how">
      <header>
        <h2>Как проходят занятия?</h2>
        <p>На занятиях мы разучиваем танцы, уделяем время постановке корпуса, рук и практикуемся в особой технике дробей. Это позволяет серьезно работать с эмоциональностью и энергетикой танца, раскрывающей глубокий внутренний потенциал.</p>
      </header>

      <!-- TODO: videos -->

      <ol>
        <li>
          <h3>У меня нет танцевальной подготовки, смогу ли я заниматься?</h3>
          <p>Конечно, танец фламенко возник из народа, поэтому все движения и постановки корпуса достаточно естественны, в этом и состоит прелесть и колорит этого танца.</p>
        </li>
        <li>
          <h3>Есть ли какие-то рамки для занятий фламенко - возраст, комплекция тела?</h3>
          <p>Фламенко не знает никаких ограничений, в том числе по возрасту и комплекции. В Испании фламенко танцуют дети, а самым возрастным танцовщицам - за 60.</p>
        </li>
        <li>
          <h3>Правда ли, что для занятий фламенко нужна специальная обувь?</h3>
          <p>В течение первых двух месяцев вы можете использовать обычную обувь. Далее мы рекомендуем приобрести специальные туфли.</p>
        </li>
      </ol>
    </section>

    <section>
      <h1>Запишись на пробный урок
        ФЛАМЕНКО 1</h1>
      <h2>в школе танца ParaBailar
        м. Пл. Ленина, ул. Коммунистическая, 1</h2>

      <Form/>
    </section>

    <section id="reviews">
      <h2>Отзывы наших учениц</h2>

      <ul>
        <li>
          <img src="" alt="">
          <p>Мне очень нравится учиться у Даши. Не затанцевать у неё не возможно - лениться не даст. Раскрывая индивидуальность каждого в танце, она также развивает сложный навык импровизации. А еще она идейная! ParaBailar - моё любимое место. Настоящая творческая лаборатория и уютный дом)</p>
          <h4>Нина</h4>
        </li>
        <li>
          <img src="" alt="">
          <p>Почти два года назад я и не думала танцевать. В соц. сети мне попалась реклама открытых уроков ParaBailar. Ооо, первое знакомство было непростым, но... зацепило. Я решительно приобрела абонемент, первые туфли, и началось моё путешествие по чувственному миру испанской музыки и культуры, путешествие к изменениям своего тела и сознания. Фламенко вдохновляет!</p>
          <h4>Юля</h4>
        </li>
        <li>
          <img src="" alt="">
          <p>Занималась в этой прекрасной студии! Классный преподавательский состав🔥 Все очень слаженно, продумано, весело и задорно!❤️ Можно смело идти на любом уровне танцевальной подготовки! Т.к. индивидуальный подход к каждому</p>
          <h4>Дарья</h4>
        </li>
        <li>
          <img src="" alt="">
          <p>Это прежде всего коллектив энтузиастов, которые увлечены танцем, что, конечно, отражается и на атмосфере в школе. Спасибо за комфортную атмосферу, удобное место расположения, профессиональный коллектив педагогов и хорошее настроение!</p>
          <h4>Елена</h4>
        </li>
      </ul>
    </section>

    <footer>
      <h3>Приходите в ParaBailar</h3>
      <p>Новосибирск, м. Пл. Ленина
        ул. Коммунистическая, 1
        (вход с ул. Революции)
        ИП Корнет Наталья Владимировна
        ИНН 5404100002709
        ОГРН 319547600006116
        +7 (903) 937-55-13</p>

      <!-- TODO: VK, Instagram -->

      <!-- TODO: map -->
    </footer>
  </main>
</Layout>

<style>
body, main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
main {
  width: 100%;
  color: white;
  font-size: 20px;
  line-height: 1.6;
}
section {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background: rgb(25,25,25);
  background: linear-gradient(180deg, rgba(25,25,25,1) 10%, rgba(10,10,10,0.3) 50%, rgba(25,25,25,1) 90%);

  &.hero {
    position: relative;
    background: none;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-image: url("https://static.tildacdn.com/tild3062-6664-4436-b933-306339366430/noroot.png");
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      opacity: 0.3;
    }
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    button {
      width: 90%;
      height: 3rem;
      border-radius: 2rem;
      border: 0;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;

      background: #dfb114ff;
      color: white;
      text-shadow: 0 0 4px rgba(0,0,0,0.5);

      &:hover {
        background: #dfb114cc;
      }
    }

    input {
      border-radius: .2rem;
      border: 0;
      padding: .5rem 2rem;
      height: 2rem;
      background: #121212;
      font-size: 1rem;
    }
  }
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin: 0;

  &:last-of-type {
    margin-bottom: 1em;
  }
}
</style>
