---
import About from "@/components/About.astro"
import Faq from "@/components/Faq.astro"
import Footer from "@/components/Footer.astro"
import Form from "@/components/Form.astro"
import Gallery from "@/components/Gallery.astro"
import Header from "@/components/Header.astro"
import News from "@/components/News.astro"
import Pricing from "@/components/Pricing.astro"
import Program from "@/components/Program.astro"
import Reviews from "@/components/Reviews.astro"
import Schedule from "@/components/Schedule.astro"
import Teachers from "@/components/Teachers.astro"
import Why from "@/components/Why.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Школа ParaBailar — обучение фламенко в Новосибирске">
  <a
    href="#form"
    class="btn size-16 rounded-full bg-rose-700 flex justify-center items-center text-white fixed bottom-4 md:right-auto right-4 z-10"
  >
    <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 24 24">
    <g fill="none">
        <rect width="14" height="18" x="5" y="3" fill="none" fill-opacity=".25" rx="2"/>
        <path stroke="currentColor" stroke-linecap="round" d="M9.5 7.5h5m-5 3h3m-3 3h4m-4 3h3"/>
        <rect width="1" height="1" x="7" y="7" fill="none" rx=".5"/>
        <rect width="1" height="1" x="7" y="10" fill="none" rx=".5"/>
        <rect width="1" height="1" x="7" y="13" fill="none" rx=".5"/>
        <rect width="1" height="1" x="7" y="16" fill="none" rx=".5"/>
    </g>
</svg>
  </a>
  <Header />
  <main
    class="w-full px-4 py-2 flex flex-col items-center justify-center gap-32"
  >
    <About />
    <Why />
    <Program />
    <Teachers />
    <Gallery />
    <Schedule />
    <Pricing />
    <News />
    <Reviews />
  </main>
  <Form />
  <main class="w-full px-6 py-2 flex flex-col items-center justify-center">
    <Faq />
  </main>
  <Footer />
</Layout>

<style is:global>
  h1 {
    font-family: "SixHandsChalk", cursive;
  }
  * {
    font-family: "Inter", sans-serif;
  }
</style>
