---
import About from "@/components/About.astro"
import Faq from "@/components/Faq.astro"
import Footer from "@/components/Footer.astro"
import Form from "@/components/Form.astro"
import Gallery from "@/components/Gallery.astro"
import Header from "@/components/Header.astro"
import Pricing from "@/components/Pricing.astro"
import Program from "@/components/Program.astro"
import Reviews from "@/components/Reviews.astro"
import Schedule from "@/components/Schedule.astro"
import Teachers from "@/components/Teachers.astro"
import Why from "@/components/Why.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Школа ParaBailar — обучение фламенко в Новосибирске">
  <Header />
  <main class="container px-6 py-2 flex flex-col align-center">
    <About />
    <Why />
    <Program />
    <Teachers />
    <Gallery />
    <Schedule />
    <Pricing />
    <Reviews />
  </main>
  <Form />
  <main class="px-6 py-2">
    <Faq />
  </main>
  <Footer />
</Layout>
