---
import "@/assets/output.css"

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <script src="../../node_modules/htmx.org/dist/htmx.js"></script>

    <link rel="icon" type="image/svg+xml" href="/inventory/favicon.svg" />

    <title>{title}</title>
  </head>
  <body x-cloak class="w-full flex flex-col justify-center items-center gap-4">
    <slot />
  </body>
  <script>
    document.addEventListener("htmx:load", () => {
      const el = document.querySelector("[x-cloak]")
      el?.removeAttribute("x-cloak")
    })
  </script>
</html>
<style>
  html {
    width: fit-content;
  }

  :root {
    font-size: 16px;
  }

  @font-face {
    font-family: "SixHandsChalk";
    src: url("../assets/SixHandsChalk.ttf");
    font-display: swap;
  }

  [x-cloak] {
    display: none !important;
  }
</style>
