<section>
  <img src="" alt="" />
  <figure>
    <img src="" alt="" />
    <figcaption></figcaption>
  </figure>
  <div>
    <div>
      <h3></h3>
      <p></p>
    </div>
    <div>
      <h3></h3>
      <p></p>
    </div>
    <div>
      <h3></h3>
      <p></p>
    </div>
    <div>
      <h3></h3>
      <p></p>
    </div>
  </div>
</section>
