<section>
  <img src="" alt="" />
  <div class="flex-flex-col gap-2">
    <h3 class="text-lg text-black font-bold">
      НИКОГДА НЕ ЗАНИМАЛАСЬ ТАНЦАМИ, ПОЛУЧИТСЯ ЛИ У МЕНЯ?
    </h3>
    <p class="text-black-800">
      Конечно, все движения и постановки корпуса очень естественны. В этом и
      состоит прелесть и колорит этого танца.
    </p>
    <p></p>
  </div>
  <div class="flex-flex-col gap-2">
    <h3 class="text-lg text-black font-bold">
      НИКОГДА НЕ ЗАНИМАЛАСЬ ТАНЦАМИ, ПОЛУЧИТСЯ ЛИ У МЕНЯ?
    </h3>
    <p class="text-black-800">
      Конечно, все движения и постановки корпуса очень естественны. В этом и
      состоит прелесть и колорит этого танца.
    </p>
    <p></p>
  </div>
  <div class="flex-flex-col gap-2">
    <h3 class="text-lg text-black font-bold">
      НИКОГДА НЕ ЗАНИМАЛАСЬ ТАНЦАМИ, ПОЛУЧИТСЯ ЛИ У МЕНЯ?
    </h3>
    <p class="text-black-800">
      Конечно, все движения и постановки корпуса очень естественны. В этом и
      состоит прелесть и колорит этого танца.
    </p>
    <p></p>
  </div>
  <div class="flex-flex-col gap-2">
    <h3 class="text-lg text-black font-bold">
      НИКОГДА НЕ ЗАНИМАЛАСЬ ТАНЦАМИ, ПОЛУЧИТСЯ ЛИ У МЕНЯ?
    </h3>
    <p class="text-black-800">
      Конечно, все движения и постановки корпуса очень естественны. В этом и
      состоит прелесть и колорит этого танца.
    </p>
    <p></p>
  </div>
  <div class="flex-flex-col gap-2">
    <h3 class="text-lg text-black font-bold">
      НИКОГДА НЕ ЗАНИМАЛАСЬ ТАНЦАМИ, ПОЛУЧИТСЯ ЛИ У МЕНЯ?
    </h3>
    <p class="text-black-800">
      Конечно, все движения и постановки корпуса очень естественны. В этом и
      состоит прелесть и колорит этого танца.
    </p>
    <p></p>
  </div>
</section>
<style>
  section > div {
    border-top: solid 0.2rem black;
  }
  section > div:last-child {
    border-bottom: solid 0.2rem black;
  }
</style>
