---
import { Image } from "astro:assets"

import logo from "@/assets/paraBailar.png"
---

<figure
  class="w-full px-12 py-8 flex gap-8 justify-around bg-[#144225] text-white items-center"
>
  ;
  <div class="flex items-left flex-col gap-4 items-left">
    <Image src={logo} alt="Para Bailar" class="w-64" />
    <p class="flex gap-2 font-bold">
      <svg
        width="22"
        height="19"
        viewBox="0 0 22 19"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M16.2416 18.7498C14.7416 18.7001 10.4906 18.1713 6.0385 14.1654C1.58746 10.1585 1.001 6.3335 0.944751 4.98256C0.861417 2.92381 2.6135 0.924127 4.63746 0.14319C4.88118 0.0484712 5.14809 0.012409 5.41197 0.0385418C5.67585 0.0646746 5.92766 0.152104 6.14267 0.292252C7.80933 1.38538 8.95933 3.03913 9.94683 4.33944C10.1641 4.62512 10.257 4.97277 10.2078 5.31612C10.1587 5.65948 9.97084 5.97456 9.68017 6.20131L7.64788 7.55975C7.54969 7.62356 7.48058 7.71728 7.45337 7.82349C7.42617 7.92971 7.44272 8.04119 7.49996 8.13725C7.96038 8.89006 8.77913 10.0113 9.71663 10.8551C10.6552 11.6988 11.9593 12.4844 12.8541 12.9457C12.9663 13.0024 13.0984 13.0182 13.2231 12.99C13.3479 12.9617 13.4559 12.8915 13.525 12.7938L14.8479 10.9816C15.0911 10.6909 15.4499 10.4961 15.8491 10.438C16.2483 10.38 16.657 10.4633 16.9895 10.6704C18.4552 11.5835 20.1656 12.6007 21.4177 14.0435C21.586 14.2384 21.6931 14.4704 21.7278 14.7154C21.7624 14.9603 21.7233 15.209 21.6145 15.4357C20.7427 17.2666 18.5364 18.8257 16.2416 18.7498Z"
          fill="white"></path>
      </svg>
      <a href="tel:+79039375513">+7 (903) 937-55-13</a>
    </p>
    <p class="flex flex-col">
      <span>г. Новосибирск, м. Пл.Ленина </span>
      <span>ул. Коммунистическая, 1</span>
      <span>(вход с ул. Революции)</span>
    </p>
    <p class="flex flex-col">
      <span>ИП Корнет Наталья Владимировна</span>
      <span>ИНН 5404100002709</span>
      <span>ОГРН 319547600006116</span>
    </p>
    <div class="flex gap-4">VK TG WU</div>
    <!-- TODO: Socials -->
  </div>
  <img src="" alt="" />
</figure>
