<form
  action=""
  class="w-full bg-slate-500 px-12 py-8 flex flex-col gap-4 align-left"
>
  <h1 class="text-4xl text-white">Готовы танцевать?</h1>
  <p class="text-lg text-white">Пробный урок для начинающих за 300 руб</p>
  <input type="text" placeholder="Имя" class="rounded-lg text-gray-800 p-2" />
  <input
    type="number"
    placeholder="Телефон"
    class="rounded-lg text-gray-800 p-2"
  />
  <button class="mt-2 bg-red-300 text-center p-2 rounded-lg"
    >Оставить заявку</button
  >
</form>
