---

---

<header>
  <nav>
    <img src="" alt="" />
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </nav>
  <div id="hero">
    <h2>Школа фламенко в центре Новосибирска</h2>
    <img src="" alt="" />
    <hr />
    <p>У вас есть все, чтобы танцевать</p>
    <button>Хочу танцевать</button>
  </div>
</header>
