

---
import Form from "./Form.astro"
---

<section id="hero">
  <h1>ФЛАМЕНКО для начинающих</h1>
  <h1>Пробный урок 300 рублей</h1>
  <p>
    Школа танца ParaBailar: первая школа фламенко за Уралом, где есть свой
    театр!
  </p>
  <p>
    Занятия в центре Новосибирска. Записывайтесь по телефону <br />
    <a class="tel" href="tel:+79039375513">+7 (903) 937-55-13</a>
  </p>

  <Form />
</section>

<style>
  section#hero {;

    background: none;;
    &::after {;
      position: absolute;;
      top: 0;;
      left: 0;;
      z-index: -1;;
      width: 100%;;
      height: 100%;;
      overflow: hidden;;
      background-image: url("https://static.tildacdn.com/tild3062-6664-4436-b933-306339366430/noroot.png");;
      background-repeat: no-repeat;;
      background-position: center;;
      background-size: cover;;
      background-attachment: fixed;;
      opacity: 0.3;;
      content: "";
    }
  }
</style>
