<section class="flex flex-col gap-4">
  <img src="" alt="" />
  <div class="flex gap-6">
    <figure class="flex gap-2 bg-gray-100">
      <img src="" alt="" />
      <figcaption class="flex flex-col justify-between items-left p-2">
        <div class="flex flex-col gap-2">
          <p class="text-lg text-black">14 МАЯ</p>
          <hr />
          <h3 class="text-red-500 text-xl">
            Набор новой группы для начинающих
          </h3>
        </div>
        <div class="flex flex-col gap-1">
          <p>Место:</p>
          <p>Начало:</p>
        </div>
      </figcaption>
    </figure>
    <figure class="flex gap-2 bg-gray-100">
      <img src="" alt="" />
      <figcaption class="flex flex-col justify-between items-left p-2">
        <div class="flex flex-col gap-2">
          <p class="text-lg text-black">14 МАЯ</p>
          <hr />
          <h3 class="text-red-500 text-xl">
            Набор новой группы для начинающих
          </h3>
        </div>
        <div class="flex flex-col gap-1">
          <p>Место:</p>
          <p>Начало:</p>
        </div>
      </figcaption>
    </figure>
  </div>
</section>
