<section class="flex flex-col gap-6 justify-left">
  <img src="" alt="" />
  <div class="flex flex-col">
    <div class="flex-flex-col gap-4">
      <div class="flex justify-between">
        <h3 class="text-red text-lg">Абонементы фламенко</h3>
        <div>
          <p class="text-sm-text-gray-700">Разовое занятие - 700 руб</p>
          <p class="text-sm-text-gray-700">Разовое занятие - 700 руб</p>
        </div>
      </div>
      <div class="flex gap-4 justify-center">
        <div
          class="p-4 rounded-lg bg-gray-300 flex flex-col gap-2 align-center justify-center"
        >
          <p class="font-bold text-lg text-black">4 занятия</p>
          <p class="text-lg text-black">1 РАЗ В НЕДЕЛЮ ДЛИТЕЛЬНОСТЬ 1,5 ЧАСА</p>
          <p class="text-red text-2xl text-red-500">2300 руб</p>
        </div>
        <div
          class="p-4 rounded-lg bg-gray-300 flex flex-col gap-2 align-center justify-center"
        >
          <p class="font-bold text-lg text-black">4 занятия</p>
          <p class="text-lg text-black">1 РАЗ В НЕДЕЛЮ ДЛИТЕЛЬНОСТЬ 1,5 ЧАСА</p>
          <p class="text-red text-2xl text-red-500">2300 руб</p>
        </div>
        <div
          class="p-4 rounded-lg bg-gray-300 flex flex-col gap-2 align-center justify-center"
        >
          <p class="font-bold text-lg text-black">4 занятия</p>
          <p class="text-lg text-black">1 РАЗ В НЕДЕЛЮ ДЛИТЕЛЬНОСТЬ 1,5 ЧАСА</p>
          <p class="text-red text-2xl text-red-500">2300 руб</p>
        </div>
        <div
          class="p-4 rounded-lg bg-gray-300 flex flex-col gap-2 align-center justify-center"
        >
          <p class="font-bold text-lg text-black">4 занятия</p>
          <p class="text-lg text-black">1 РАЗ В НЕДЕЛЮ ДЛИТЕЛЬНОСТЬ 1,5 ЧАСА</p>
          <p class="text-red text-2xl text-red-500">2300 руб</p>
        </div>
      </div>
    </div>
    <div class="flex-flex-col gap-4">
      <div class="flex justify-between">
        <h3 class="text-red text-lg">Абонементы фламенко</h3>
        <div>
          <p class="text-sm-text-gray-700">Разовое занятие - 700 руб</p>
          <p class="text-sm-text-gray-700">Разовое занятие - 700 руб</p>
        </div>
      </div>
      <div class="flex gap-4 justify-center">
        <div
          class="p-4 rounded-lg bg-gray-300 flex flex-col gap-2 align-center justify-center"
        >
          <p class="font-bold text-lg text-black">4 занятия</p>
          <p class="text-lg text-black">1 РАЗ В НЕДЕЛЮ ДЛИТЕЛЬНОСТЬ 1,5 ЧАСА</p>
          <p class="text-red text-2xl text-red-500">2300 руб</p>
        </div>
        <div
          class="p-4 rounded-lg bg-gray-300 flex flex-col gap-2 align-center justify-center"
        >
          <p class="font-bold text-lg text-black">4 занятия</p>
          <p class="text-lg text-black">1 РАЗ В НЕДЕЛЮ ДЛИТЕЛЬНОСТЬ 1,5 ЧАСА</p>
          <p class="text-red text-2xl text-red-500">2300 руб</p>
        </div>
        <div
          class="p-4 rounded-lg bg-gray-300 flex flex-col gap-2 align-center justify-center"
        >
          <p class="font-bold text-lg text-black">4 занятия</p>
          <p class="text-lg text-black">1 РАЗ В НЕДЕЛЮ ДЛИТЕЛЬНОСТЬ 1,5 ЧАСА</p>
          <p class="text-red text-2xl text-red-500">2300 руб</p>
        </div>
        <div
          class="p-4 rounded-lg bg-gray-300 flex flex-col gap-2 align-center justify-center"
        >
          <p class="font-bold text-lg text-black">4 занятия</p>
          <p class="text-lg text-black">1 РАЗ В НЕДЕЛЮ ДЛИТЕЛЬНОСТЬ 1,5 ЧАСА</p>
          <p class="text-red text-2xl text-red-500">2300 руб</p>
        </div>
      </div>
    </div>
  </div>
</section>
