<section class="flex flex-col gap-8 justify-left w-full">
  <h1 class="text-5xl">Стоимость</h1>
  <div class="flex flex-col gap-8">
    <div class="flex flex-col gap-8">
      <div class="flex flex-col gap-4 justify-between">
        <h3 class="text-red-700 text-4xl">Абонементы фламенко</h3>
        <div>
          <p class="text-2xl text-gray-700">Разовое занятие - 700 руб</p>
          <p class="text-2xl text-gray-700">
            Пробное занятие для начинающих - 300 руб
          </p>
        </div>
      </div>
      <div
        class="grid auto-cols-max md:grid-cols-2 lg:grid-cols-4 gap-4 justify-center text-center"
      >
        <div
          class="p-4 rounded-lg bg-gray-200 flex flex-col gap-2 items-center justify-center w-lvw md:w-auto"
        >
          <p class="font-bold text-lg text-black">4 занятия</p>
          <div>
            <p class="text-xl text-black">1 РАЗ В НЕДЕЛЮ</p>
            <p class="text-xl text-black">ДЛИТЕЛЬНОСТЬ 1,5 ЧАСА</p>
          </div>
          <p class="text-red text-4xl text-red-800 font-bold">2300 руб</p>
        </div>
        <div
          class="p-4 rounded-lg bg-gray-200 flex flex-col gap-2 items-center justify-center"
        >
          <p class="font-bold text-lg text-black">8 занятий</p>
          <div>
            <p class="text-xl text-black uppercase">2 раза в неделю</p>
            <p class="text-xl text-black uppercase">ДЛИТЕЛЬНОСТЬ 1,5 ЧАСА</p>
          </div>
          <p class="text-red text-4xl text-red-800 font-bold">4000 руб</p>
        </div>
        <div
          class="p-4 rounded-lg bg-gray-200 flex flex-col gap-2 items-center justify-center"
        >
          <p class="font-bold text-lg text-black">12 занятий</p>
          <div>
            <p class="text-xl text-black uppercase">3 раза в неделю</p>
            <p class="text-xl text-black">ДЛИТЕЛЬНОСТЬ 1,5 ЧАСА</p>
          </div>
          <p class="text-red text-4xl text-red-800 font-bold">5200 руб</p>
        </div>
        <div
          class="p-4 rounded-lg bg-gray-200 flex flex-col gap-2 items-center justify-center"
        >
          <p class="font-bold text-lg text-black">Profi</p>
          <div>
            <p class="text-xl text-black uppercase">Безлимит</p>
          </div>
          <p class="text-red text-4xl text-red-800 font-bold">6500 руб</p>
        </div>
      </div>
    </div>
  </div>
</section>
