<section class="flex flex-col gap-6">
  <img src="" alt="" />
  <ul class="flex gap-6">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <div class="flex gap-4">
    <!-- TODO: videos -->
  </div>
</section>
