<section class="flex flex-col gap-6">
  <h1 class="text-5xl">Что включает программа?</h1>
  <ul class="flex flex-col gap-6 text-3xl w-full">
    <li>
      <svg
        width="13"
        height="14"
        viewBox="0 0 13 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.5 1.81836L6.5 12.8184M1 7.31836H12"
          stroke="#8D0509"
          stroke-width="2"
          stroke-linecap="round"></path>
      </svg>
      Изучение техники танца Фламенко
    </li>
    <li>
      <svg
        width="13"
        height="14"
        viewBox="0 0 13 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.5 1.81836L6.5 12.8184M1 7.31836H12"
          stroke="#8D0509"
          stroke-width="2"
          stroke-linecap="round"></path>
      </svg>
      Освоение основных стилей и ритмов
    </li>
    <li>
      <svg
        width="13"
        height="14"
        viewBox="0 0 13 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.5 1.81836L6.5 12.8184M1 7.31836H12"
          stroke="#8D0509"
          stroke-width="2"
          stroke-linecap="round"></path>
      </svg>
      Работа с предметами: веерами, кастаньетами
    </li>
    <li>
      <svg
        width="13"
        height="14"
        viewBox="0 0 13 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.5 1.81836L6.5 12.8184M1 7.31836H12"
          stroke="#8D0509"
          stroke-width="2"
          stroke-linecap="round"></path>
      </svg>
      Практика выступления на сцене
    </li>
  </ul>
  <div class="grid gap-4">
    <div class="w-full h-32"></div>
    <div class="w-full h-32"></div>
  </div>
</section>

<style>
  li {
    position: relative;

    svg {
      position: absolute;
      left: -2rem;
      top: 30%;
    }
  }

  h1 {
    font-family: "SixHandsChalk", cursive;
  }
</style>
