<section class="flex flex-col gap-6">
  <img src="" alt="" />
  <ul class="flex gap-6">
    <li>Изучение техники танца Фламенко</li>
    <li>Освоение основных стилей и ритмов</li>
    <li>Работа с предметами: веерами, кастаньетами</li>
    <li>Практика выступления на сцене</li>
  </ul>
  <div class="flex gap-4">
    <!-- TODO: videos -->
  </div>
</section>
