<section id="reviews">
  <h2>Отзывы наших учениц</h2>

  <ul>
    <li>
      <figure>
        <img
          src="https://static.tildacdn.com/tild3134-3661-4630-b639-396562633635/IMG_6844.jpg"
          alt=""
        />
        <figcaption>
          <p>
            Мне очень нравится учиться у Даши. Не затанцевать у неё не возможно
            - лениться не даст. Раскрывая индивидуальность каждого в танце, она
            также развивает сложный навык импровизации. А еще она идейная!
            <b>ParaBailar - моё любимое место.</b> Настоящая творческая лаборатория
            и уютный дом)
          </p>
          <h4>Нина</h4>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img
          src="https://static.tildacdn.com/tild3431-3861-4333-a135-653130376435/178919967_3769806902.jpg"
          alt=""
        />
        <figcaption>
          <p>
            Почти два года назад я и не думала танцевать. В соц. сети мне
            попалась реклама открытых уроков ParaBailar. Ооо, первое знакомство
            было непростым, но... зацепило. Я решительно приобрела абонемент,
            первые туфли, и началось моё путешествие по чувственному миру
            испанской музыки и культуры, путешествие к изменениям своего тела и
            сознания. <b>Фламенко вдохновляет!</b>
          </p>
          <h4>Юля</h4>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img
          src="https://static.tildacdn.com/tild3862-3034-4432-a364-396365666637/noroot.png"
          alt=""
        />
        <figcaption>
          <p>
            Занималась в этой прекрасной студии! Классный преподавательский
            состав🔥 Все очень слаженно, продумано, весело и задорно!❤️ <b
              >Можно смело идти на любом уровне танцевальной подготовки!</b
            > Т.к. индивидуальный подход к каждому
          </p>
          <h4>Дарья</h4>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img
          src="https://static.tildacdn.com/tild3466-6261-4334-b163-366132646565/photo_2021-07-26_20-.jpg"
          alt=""
        />
        <figcaption>
          <p>
            Это прежде всего коллектив энтузиастов, которые увлечены танцем,
            что, конечно, отражается и на атмосфере в школе. <b
              >Спасибо за комфортную атмосферу</b
            >, удобное место расположения, профессиональный коллектив педагогов
            и хорошее настроение!
          </p>
          <h4>Елена</h4>
        </figcaption>
      </figure>
    </li>
  </ul>
</section>

<style>
  figure {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    figcaption {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      p {
        margin-bottom: 0;

        b {
          color: rgb(178, 18, 33);
        }
      }

      h4 {
        font-size: 1.5rem;
        color: gray;
      }
    }

    img {
      border-radius: 50%;
      width: 8rem;
      height: 8rem;
    }
  }
</style>
