---
const a = 4;
---

<p>
  Фламенко – это не только танец, это страсть, яркие эмоции и творчество.
  Творчество, которое полно описывает любовь, одиночество, боль, радость и
  счастье... Когда для выражения этих чувств не хватает слов, на помощь приходит
  фламенко.
</p>

<style>
  body {
    color: red;
  }
</style>
