<section>
  <img src="" alt="" id="why" />
  <div class="grid grid-cols-4 gap-4">
    <figure>
      <img src="" alt="" />
      <figcaption>
        <h3>Эмоциональная разгрузка</h3>
        <p>
          Через танец есть возможность выплеснуть эмоции, которые не всегда
          можно выразить в повседневной жизни
        </p>
      </figcaption>
    </figure>
    <figure>
      <img src="" alt="" />
      <figcaption>
        <h3>Красивое тело</h3>
        <p>
          В танце формируется красивая осанка, улучшается гибкость и
          координация, укрепляется мышечный корсет
        </p>
      </figcaption>
    </figure>
    <figure>
      <img src="" alt="" />
      <figcaption>
        <h3>Любовь к себе</h3>
        <p>
          Фламенко дает возможность узнать и принять себя разную:
          непредсказуемую, дерзкую, уверенную
        </p>
      </figcaption>
    </figure>
    <figure>
      <img src="" alt="" />
      <figcaption>
        <h3>Возможность похудеть</h3>
        <p>
          Благодаря регулярности физической нагрузки и укреплению групп мышц,
          вес уходит, а тело подтягивается
        </p>
      </figcaption>
    </figure>
  </div>
</section>
