<section>
  <img src="" alt="" id="why" />
  <div class="grid grid-cols-4 gap-4">
    <figure>
      <img src="" alt="" />
      <figcaption>
        <h3></h3>
        <p></p>
      </figcaption>
    </figure>
    <figure>
      <img src="" alt="" />
      <figcaption>
        <h3></h3>
        <p></p>
      </figcaption>
    </figure>
    <figure>
      <img src="" alt="" />
      <figcaption>
        <h3></h3>
        <p></p>
      </figcaption>
    </figure>
    <figure>
      <img src="" alt="" />
      <figcaption>
        <h3></h3>
        <p></p>
      </figcaption>
    </figure>
  </div>
</section>
